@using Microsoft.AspNet.Identity.EntityFramework
@model IEnumerable<IdentityRole>
@{
    ViewBag.Title = "Quản lý quyền";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body">
                @*Custom đường dẫn*@
                <div>
                    <a href="/admin/role/create" class="btn btn-primary">Thêm mới</a>
                </div>

                <br />
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="order-listing" class="table">
                                <thead>
                                    <tr>
                                        <th>STT #</th>
                                        <th>Role</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Any())
                                    {

                                        var i = 1;
                                        foreach (var item in Model)
                                        {
                                            <tr id="trow_@item.Id">
                                                <td>@i</td>
                                                <td>@item.Name</td>
                                                <td>
                                                    <a href="/Admin/Role/Edit/@item.Id" class="btn btn-outline-primary">Sửa</a>
                                                    <a href="#" data-id="@item.Id" class="btn btn-outline-primary btnDelete" onclick="showSuccessToast()">Xóa</a>
                                                </td>
                                            </tr>
                                            i++;
                                        }

                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="4"> Không có bản ghi nào ... </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial -->
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var msg = confirm('Bạn có muốn xóa bản ghi này không ?');
                if (msg === true) {
                    $.ajax({
                        url: '/admin/role/delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                            }
                        }
                    });
                }
                return false;
            });
        });
    </script>
}

