
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Client/styles/login_styles.css" rel="stylesheet" />
</head>
<body>
    <div class="login-box">
        <h2>Admin Login</h2>
        <form action="/admin/loginadmin/login" method="POST">
            <div class="user-box">
                <input type="text" name="emailAdmin" required>
                <label>Email</label>
            </div>
            <div class="user-box">
                <input type="password" name="passAdmin" required>
                <label>Password</label>
            </div>
            <button href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </button>
        </form>
    </div>
</body>
</html>
