
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Client.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/Client/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/Client/styles/categories_styles.css">
@*<link rel="stylesheet" type="text/css" href="~/Content/Client/styles/categories_responsive.css">
<link rel="stylesheet" type="text/css" href="~/Content/Client/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">*@


<div class="container product_section_container text-center">
    <div>
        <br />
        <h4 style="color: green"> Mua Hàng Thành Công</h4>
        <p> Vui lòng kiểm tra Email đến của bạn để xem lại hóa đơn hàng.</p>
        <br />
    </div>
</div>
