
@{
    Layout = null;
    
}
<link href="~/Content/Client/styles/login_styles.css" rel="stylesheet" />
<div class="login-box">
    <h2>Admin Login</h2>
    <form action="/Dang-Nhap-Admin-Panel" method="POST">
        <div class="user-box">
            <input type="text" name="" required>
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" name="" required>
            <label>Password</label>
        </div>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </a>
    </form>
</div>
